@model MPLIS.Libraries.Data.XuLyHoSo.Models.TTRiengVM
<div id="divBienDongID_DSCHUVAO">
    @*@{Html.RenderPartial("_BienDong_DSCHUVAO", Model.dSChuBDVM);}*@
</div>
<div id="divBienDongID_TTRIENG_THECHAP">
    @*@{Html.RenderPartial("_BienDong_TTRIENG_THECHAP", Model.theChapVM);}*@
</div>
<div id="divBienDongID_TTRIENG_THECHAP_CTQUYEN">
    @*@{Html.RenderPartial("_BienDong_TTRIENG_THECHAP_TTQUYEN");}*@
</div>
