@model MPLIS.Libraries.Data.XuLyHoSo.Models.DSChuBDVM

<form id="IDformBienDong_DSCHU">
    <div>
        <div id="divBienDongID_DSCHUVAO">
            @{Html.RenderPartial("_BienDong_DSCHUVAO", Model);}
        </div>
        <div id="divBienDongID_DSCHURA">
            @{Html.RenderPartial("_BienDong_DSCHURA", Model);}
        </div>
    </div>
</form>
