@model MPLIS.Libraries.Data.XuLyHoSo.Models.VM_XuLyHoSo_DK
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Chi tiết hạng mục ngoài căn hộ</h3>
    </div>
    <div class="box-body" id="tabshmnch">
        <div class="tab-pane fade in active" id="tabHangMucNCH">
            @{Html.RenderAction("LoadHangMucNgoaiCanHo", "XLHSDangKy", new { a = ViewBag.IDNCC });}
        </div>
    </div>
</div>
<div class="row">
    <button type='submit' id="btnthemhmnch" class='t100 btn btn-primary btn-sm pull-right'>Lưu</button>
    <button type='submit' id="btnlammoihmnch" class='t100 btn btn-primary btn-sm pull-left'>Làm mới</button>
</div>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Hạng mục ngoài căn hộ</h3>
    </div>
    <div class="box-body" id="div_lstHangMucNCH">
        @Html.Action("_lstHangMucNCH", new { t = ViewBag.IDNCC })
    </div>
</div>
<script>
    $(function () {
        $("#btnthemhmnch").on("click", function () {
            var dondk = $('#DONDANGKYID').val();
            var formdata = $("#ThemMoiHangMucNgoaiCanHo").serializeArray();
            formdata.push({
                name: "DONDANGKYID",
                value: dondk
            });
            $.ajax({
                type: "POST",
                url: "/XLHSDangKy/ThemMoiHangMucNgoaiCanHo",
                data: formdata,
                success: function (html) {
                    alert("Lưu thành công");
                    $('#openTabHangmuc').click();
                }
            });

        });
        $("#btnlammoihmnch").on("click", function () {
            $.ajax({
                type: "GET",
                url: "/XLHSDangKy/LoadHangMucNgoaiCanHo",
                data: { a: $('#CurKCCID').val().trim() },
                success: function (response, startus, xhr) {
                    $('#tabHangMucNCH').html(response);
                }
            });
        });
    });
</script>





