<head>
    <link href="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/css/bootstrap-multiselect.css" rel="stylesheet" type="text/css" />
    <script src="http://cdn.rawgit.com/davidstutz/bootstrap-multiselect/master/dist/js/bootstrap-multiselect.js" type="text/javascript"></script>
</head>
<div id="divDonDangKy_DSThua_TTChiTiet_ID">
    @{ Html.RenderPartial("_DonDangKy_DSThua_TTChiTietThua");}
</div>
<div id="divDonDangKy_DSThua_DSThua_ID">
    @{ Html.RenderPartial("_DonDangKy_DSThua_DSThua");}
</div>