
@{
    ViewBag.Title = "ThongBaoQuyenNguoiDung";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<h2>Tài khoản không được phép truy cập vào mục này. Vui lòng liên hệ với Quản trị hệ thống để được cấp phép, hoặc Đăng nhập bằng tài khoản khác !</h2>
<b>---***---</b><br />
@*@Html.ActionLink("Ra trang đăng nhập","Logout","Home")*@