@model string

<footer class="main-footer">
    <!-- To the right -->
    <strong>&nbsp; &nbsp;  Bản quyền thuộc về FPT và Tổng cục Quản lý đất đai - Bộ Tài nguyên và Môi trường</strong>
    <div class="pull-right">
        @Html.Raw(Model) &nbsp;
    </div>
</footer>
