@model AppCore.Models.QT_QUYTRINH

 <!-- jQuery 3.3.1 -->
<link rel="stylesheet" href="~/Content/normalize.css">
<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet" href="~/Content/bootstrap.css">
<!-- Font Awesome -->
<link rel="stylesheet" href="~/Content/font-awesome.css">
<!-- Ionicons -->
<link rel="stylesheet" href="~/Content/ionicons.css">
<!-- Theme style -->
<link rel="stylesheet" href="~/Content/AdminLTE/AdminLTE.css">
<!-- AdminLTE skins -->
<link rel="stylesheet" href="~/Content/AdminLTE/skins/_all-skins.css">
<!-- Google fonts -->
@*<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">*@
<!-- Custom css -->
<link rel="stylesheet" href="~/Content/Site.css">

<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="~/Scripts/bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="~/Scripts/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- AdminLTE App -->
<script src="~/Scripts/AdminLTE/adminlte.js"></script>
<!-- Custom scripts -->
<script src="~/Scripts/MplisUtilities.js"></script>
<link rel="stylesheet" href="~/Content/plugins/datatables/dataTables.bootstrap.min.css">
<script src="~/Scripts/plugins/datatables/jquery.dataTables.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.buttons.js"></script>
<script src="~/Scripts/plugins/datatables/dataTables.bootstrap.js"></script>

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Điều kiện tìm kiếm</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-2">
                @Html.LabelFor(model => model.TENQUYTRINH, "Tên quy trình", new { @class = "pull-right control-label" })
            </div>
            <div class="col-xs-4">
                @Html.TextBoxFor(model => model.TENQUYTRINH, "", new { @class = "form-control input-sm" })
            </div>
            <div class="col-xs-4">
                <button id="btnTimKiemQuyTrinh" type="button" class="btn btn-sm btn-default">Tìm kiếm</button>
            </div>
        </div>
        <div id="divResultSearchID" class="row">

        </div>
    </div>
</div>

<div id="divTTChiTietQuyTrinhID" class="collapse">

</div>

<div id="dialogformTTBuocQuyTrinhID">
    @*@{Html.RenderPartial("_Popup_QUYENSDDAT");}*@
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: "/DiagramWorkflow/TimKiem_QUYTRINH",
            dataType: "html",
            success: function (html) {
                $('#divResultSearchID').html(html);
            }
        });
        $('#btnTimKiemQuyTrinh').on('click', function () {
            if ($('#TENQUYTRINH').val() != "") {
                $.ajax({
                    type: "POST",
                    url: "/DiagramWorkflow/TimKiem_QUYTRINH",
                    data: { tenQuyTrinh: $('#TENQUYTRINH').val() },
                    dataType: "html",
                    success: function (html) {
                        $('#divResultSearchID').html(html);
                    }
                })
            }
        })
    })
</script>
